<div class="body">
  <div class='cover-photo-holder'>
      <img class="logo" src="{{ '/assets/logo.PNG' }}"/>
  </div>

  <button mat-raised-button color="goBack" (click)="goBackButtonPressed()" >Retour</button>
  
  <br>
  <h3 class="sous-titre" style="text-align:center" >Veuillez sélectionner un menu</h3>
  
  
  <div class="panel-body">
   
  <div class="button-1" style="text-align:center">
    
      <div columns="2">
          <button mat-raised-button color="compte" (click)="comptePressed()" >Comptes</button>
          <button mat-raised-button color="gestion" (click)="gestionPressed()" >gestion clients / banquiers</button>
      </div>
  </div>
        
  
  </div>
  </div>
  