<div class="body">
<div class='cover-photo-holder'>
  <p style="text-align:center">
    <img class="logo" src="{{ '/assets/logo.PNG' }}"/>
  </p>
</div>

<p class="panel-title" style="text-align:center">Bienvenue</p>
<br>
<h3 class="sous-titre" style="text-align:center" >Veuillez sélectionner une catégorie</h3>


<div class="panel-body">
 
<div class="example-button-row" style="text-align:center">
  
  <button mat-raised-button color="banquier" (click)="banquierPressed()" >Banquier</button>
  <button mat-raised-button color="client" (click)="clientPressed()" >Client</button>

</div>
</div>
</div>
