<div class="body">
  <div class='cover-photo-holder'>
      <img class="logo" src="{{ '/assets/logo.PNG' }}"/>
  </div>

  <button mat-raised-button color="goBack" (click)="goBackButtonPressed()" >Retour</button>
  
  <br>
  <h3 class="sous-titre" style="text-align:center" >Veuillez sélectionner une catégorie</h3>
  
  
  <div class="panel-body">
   
  <div class="example-button-row" style="text-align:center">
    
    <button mat-raised-button color="banquier" (click)="gestionBanquierPressed()" >Banquier</button>
    <button mat-raised-button color="client" (click)="gestionClientPressed()" >Client</button>
    
  </div>
  </div>
  </div>
  