.body{
    background-color: rgb(208, 245, 178);
    font-family: Apple Chancery, cursive;
  }

  .logo{
    width: 220px;
    height: 120px;
    border-radius: 20px;
  }

.button-a button{
  width:300px;
  height:200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(15, 180, 43);
    color:white;
    font-size: 30px;
    border-radius:10px;
  }

  .button-b button{
    width:300px;
    height:200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    background: rgb(15, 180, 43);
    color:white;
    font-size: 30px;
    border-radius:10px;
  }